body {
    font-family: Arial;
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

a {
    margin-right: 8px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
}
